.formulario{
    flex-direction: column;
    align-items: center;
    
}
.span-form{
    background-color: black;
    color: rgb(210, 173, 243);
    border: rgb(210, 173, 243) solid 1px;
    border-radius: 5px;
}
.formulario-container{
    width: 80%;
    margin: auto;
    
}
.container-cv{
    display: flex;
    justify-content: center;
}
.input-group{
    margin-bottom: 25px !important;
}
.input-group-text{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}